music.elofyra.com {
    reverse_proxy navidrome:4533
    tls internal
}

media.elofyra.com {
    reverse_proxy jellyfin:8096
    tls internal
}

docker.elofyra.com {
    reverse_proxy portainer:9000
    tls internal
}

